In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('play_tennis.csv')
df.head()
df.drop(columns=['day'], inplace=True)

In [5]:
# P(yes)
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [6]:
p_y = 9/14
p_n = 5 / 14

In [7]:
print(p_y, p_n)

0.6428571428571429 0.35714285714285715

In [8]:
#outlook
pd.crosstab(df['outlook'], df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [17]:
p_overcast_n = 0
p_rainy_n = 2/5
p_sunny_n = 3 / 5

p_overcast_y = 4/9
p_rainy_y = 3/9
p_sunny_y = 2 / 9

In [10]:
pd.crosstab(df['temp'], df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [11]:
p_cool_n = 1/5
p_hot_n = 2/5
p_mild_n = 2/5

p_cool_y = 3/9
p_hot_y = 2/9
p_mild_y = 4/9

In [12]:
pd.crosstab(df['humidity'], df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [14]:
p_high_n = 4/5
p_normal_n = 1/5

p_high_y= 3 / 9
p_normal_y = 6/9

In [15]:
pd.crosstab(df['wind'], df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [18]:
p_strong_n = 3/5
p_weak_n = 2/5

p_strong_y = 3/9
p_weak_y = 6/9

In [22]:
# outlook = sunny, Temp=Hot, Humidity=High, Wind=weak

p_y = p_sunny_y * p_hot_y * p_high_y * p_weak_y
print(p_y)
p_n = p_sunny_n * p_hot_n * p_high_n * p_weak_n
print(p_n)

0.010973936899862823
0.07680000000000001